.profile{ display:grid; grid-template-columns: 220px 1fr; gap:16px; height: 200px; margin-bottom: 50px; margin-top: 50px;}
.avatar{ position:relative; width:200px; height:200px; border-radius:50%; overflow:hidden; border:3px solid #222; transition: transform .25s ease; }
.avatar:hover{ transform: scale(1.02); border: solid 2px ;}
.profile input[type="file"]{ display:none; }
.editable{ border-bottom:1px dashed #333; padding-bottom:3px; }
#name{ font-size:40px; margin:0; text-align: center; padding-top: 25px;}
.badges{align-items: center; display:flex; gap:8px; flex-wrap:wrap; margin-top:8px; justify-content: center;}
.soretes{align-items: center; display:flex; gap:8px; flex-wrap:wrap; margin-top:8px; justify-content: center;}
.badge{ background:#333; border-radius:12px; color:#eee; font-size:14px; padding:4px 8px; }
#edit-name{ background:#444; border:none; color:#eee; cursor:pointer; font-size:14px; padding:8px 12px; transition: background .25s ease; }
#edit-name:hover{ background:#555; }